<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>
      <!-- Below settings describes your Azure AD settings -->
      <!-- you need to replace below client id with your azure application ID that we preserved from step 5 of Azure AD configuration -->
      <setting name="ClientId" value="[Enter your Azure App Registration ID]" />
      <setting name="AADInstance" value="https://login.microsoftonline.com/{0}" />
      <!-- you need to replace below Tenant with your azure AD domain which we created from step 2 of Azure AD configuration -->
      <setting name="Tenant" value="[Your Domain].onmicrosoft.com" />
      <!-- your Sitecore instance login url-->
      <setting name="PostLogoutRedirectURI" value="https://[Your Domain]/sitecore/login" />
      <!-- your Sitecore instance Url-->
      <setting name="RedirectURI" value="https://[Your Domain]/sitecore" />
    </settings>

    <pipelines>
      <owin.identityProviders>
        <!-- This is the custom processor that gets executed when azure AD posts the token to Sitecore -->
        <processor type="AzureAuthMVC.IdentityProviders.AzureADAuthentication, AzureAuthMVC" resolve="true" />
      </owin.identityProviders>
    </pipelines>
    
    <federatedAuthentication>
      <identityProviders hint="list:AddIdentityProvider">
        <identityProvider id="AzureAD" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">$(id)</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>Sign-in with Azure Active Directory</caption>
          <domain>sitecore</domain>
          <icon>/sitecore/shell/themes/standard/Images/24x24/msazure.png</icon>
          <transformations hint="list:AddTransformation">
            <!-- you need to have and Idp Claim for this to work -->
            <transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
            
            <!--Add Full Name Claim Transformation-->
            <transformation name="name claim" type="Sitecore.Owin.Authentication.Services.DefaultTransformation,Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                      <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" />
              </sources>
              <targets hint="raw:AddTarget">
                      <claim name="FullName" />
              </targets>
            </transformation>            
            
            <!-- This is to transform your Azure group into Sitecore Role. The claim value below is the object id of the role that needs to be copied from Azure -->
            <transformation name="SitecoreAdmin" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="[Group 1 ID]" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="[Mapped group name]" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
           <!--Uncomment below section if you want to add another group -->
           <!-- <transformation name="User group" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="[Group 2 ID]" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="[Mapped group name]" />
              </targets>
              <keepSource>true</keepSource>
            </transformation> -->

          </transformations>
        </identityProvider>
      </identityProviders>
      <!-- Property initializer assigns claim values to sitecore user properties -->
      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
              <!--property name-->
              <target name="Email" />
            </data>
          </map>
          <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="FullName" />
              <!--property name-->
              <target name="FullName" />
            </data>
          </map>
          <!-- Uncomment below section if you want to map the "Admin" role to a specific group from above -->
          <!-- <map name="admin claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
            <data hint="raw:AddData">
              <source name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="[Mapped group name]" />
              <target name="IsAdministrator" value="true" />
            </data>
          </map> -->
        </maps>
      </propertyInitializer>
      <identityProvidersPerSites>
        <mapEntry name="all" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
          <sites hint="list">
            <site>shell</site>
            <site>login</site>
            <site>admin</site>
            <site>service</site>
            <site>modules_shell</site>
            <site>modules_website</site>
            <site>website</site>
            <site>scheduler</site>
            <site>system</site>
            <site>publisher</site>
          </sites>
          <!-- Registered identity providers for above providers -->
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAD']" />
          </identityProviders>
          <!-- ExternalUserBuilder is what creates a user with customusername in Sitecore and assigns roles based on claim transformation configured above -->
          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication">
            <param desc="isPersistentUser">true</param>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  </sitecore>
</configuration>